<mat-card>
  <mat-card-header *ngIf="user">
      <div
        mat-card-avatar
        [style.background-image]="'url(' + user.photoURL + ')'"></div>
      <mat-card-title>{{ user.displayName }}</mat-card-title>
      <mat-card-subtitle>{{ (userPlatform$ | async)?.username }} ({{ (userPlatform$ | async)?.platform }})</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="user">
    <ot-platform
      *ngIf="!(userPlatform$ | async)"
      [uid]="user.uid"></ot-platform>
  </mat-card-content>
  <mat-card-actions>
    <button
      *ngIf="user"
      mat-raised-button color="accent"
      (click)="logout()">Logout</button>
    <button
      *ngIf="!user"
      mat-raised-button color="primary"
      (click)="login()">Login</button>
  </mat-card-actions>
</mat-card>